.body {

    background-color: rgb(55, 55, 226);
    text-align: center;
    width: 100;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 8px;
    padding-left: 8px;


  }

.title {

    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.input{

    margin: 0 auto;
    margin-top: 10px;
    display: block;
    align-items: center;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
}

.button {
    background-color: black;
    color: white;
    margin: 20px 2px 5px 2px;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 8px;
}
.button:hover {

    background-color:rgba(37, 37, 129, 0.753); 
    color: white;
    cursor: pointer;
  }

.UserInfo{
   
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
   
}
.crushInput{
    
    font-size: 18px;
    display: block;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid black;
}

.footer {

    border-top: 2px solid black;
    padding-top: 8px;
    font-size: 24px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 50px;
}


.welcome {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.intro {
    font-size: 20px;
    font-weight: lighter;
    color:black;
}

.overview {
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.information {
    color: rgb(34, 34, 34);
    padding-left: 70px;
    padding-right: 70px;
    width: 80%;
}

